<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axelby.gpodder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.READ_SYNC_STATS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:icon="@drawable/mygpo"
        android:label="@string/app_name" >

		<activity android:name=".AuthenticatorActivity"
				  android:label="@string/authenticator_activity_title"
				  android:exported="true" />

		<service android:name=".AuthenticationService">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
			<meta-data android:name="android.accounts.AccountAuthenticator"
					   android:resource="@xml/authenticator" />
		</service>
		<service android:name=".SyncService">
		    <intent-filter>
		        <action android:name="android.content.SyncAdapter" />
		    </intent-filter>
		    <meta-data android:name="android.content.SyncAdapter"
					   android:resource="@xml/syncadapter" />
		</service>

		<provider android:name=".Provider"
				  android:label="Podcasts"
			      android:authorities="com.axelby.gpodder.podcasts" />

    </application>

</manifest>